@media only screen and (min-width: 1200px) {
    #logo {
        text-decoration: none;
        color: inherit;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 200;
    }

    #logoCentre {
        display: none;
    }

    .navlink {
        text-decoration: none;
        color: inherit;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .message-text {
        position: absolute;
        top: 35%;
        left: 12.5%;
    }

    .content {
        position: absolute;
        top: 25%;
        left: 12.5%;
    }

    .post {
        padding-bottom: 10dvh;
    }

    .responsive-image {
        height: 75dvh;
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0;
    }

    h2 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 0;
    }

    .title {
        display: inline;
        font-weight: 200;
        font-style: italic;
    }

    #subtext {
        font-size: 1.25rem;
        font-weight: 100;
    }

    .caption {
        font-size: 0.75rem;
        font-weight: 100;
    }

    a.navlink {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .blogPost-title {
        font-size: 1.5rem;
    }

    #rssIcon {
        font-size: 2rem;
        padding: 1%;
    }

    .last-updated {
        bottom: 0;
        font-size: 1rem;
        font-style: italic;
    }

    footer {
        font-size: 1rem;
    }

    #appearance_mode {
        vertical-align: bottom;
        font-size: 1.95rem;
    }
}
