body {
    background-color: #191919;
    color: #ededed;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
    margin: 0px 0;
}

@media only screen and (max-width: 1080px) {
    /* Mobile Display */
    .title-div {
        position: absolute;
        bottom: 10%;
    }

    .title {
        font-size: 13rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .links {
        font-size: 2.5em;
    }

    .content {
        font-size: 2rem;
        padding-right: 3.5%;
    }
}

@media only screen and (min-width: 1080px) {
    /* Desktop Display */
    .title {
        font-size: 20rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .links {
        font-size: 3em;
    }
}

.body-container {
    line-height: 3rem;
    overflow: hidden;
    margin-top: -5%;
}

.title {
    font-weight: 300;
    font-style: normal;
    padding-left: 3%;
}

h2 {
    font-weight: 300;
    font-style: normal;
    line-height: 1rem;
}

.blog-post {
    font-weight: 200;
    font-style: normal;
    font-size: 1.8rem;
    display: inline;
}

.blog-post-title {
    font-size: 1.15rem;
    font-weight: 200;
    font-style: normal;
    display: inline;
}

.post {
    padding-left: 2%;
    padding-right: 5%;
    display: inline-block;
}

.post-date {
    font-size: 0.75rem;
    font-style: italic;
    color: #636363;
    display: inline;
}

.content-div {
    padding-left: 3%;
}

.last-updated {
    font-style: italic;
    color: #636363;
}

.links {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-align: right;
}

.inline-link {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: underline;
}

.links:hover {
    font-weight: 400;
    font-style: italic;
}

.bottom-right {
    position: absolute;
    right: 7%;
    bottom: 7%;
}

.footer {
    font-weight: 300;
    color: #636363;
    padding-left: 3%;
    position: absolute;
    bottom: 5%;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 24;
}

.inverted {
    transform: rotate(180deg);
}

.under-construction {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1rem;
}

.marquee {
    background-color: white;
    color: #191919;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
