body {
    background-color: #191919;
    color: #ededed;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
    margin: 0px 0;
}

@media only screen and (max-width: 1080px) {
    /* Mobile Display */
    .title {
        font-size: 16vh;
        line-height: 90%;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .links {
        font-size: 3vh;
    }

    .footer {
        font-size: 1vh;
    }
}

@media only screen and (min-width: 1080px) {
    /* Desktop Display */
    .title {
        font-size: 16vw;
        line-height: 90%;
    }

    .links {
        font-size: 3vw;
    }

    .footer {
        font-size: 1vw;
    }
}

.title-div {
    box-sizing: content-box;
}

.title {
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-weight: 300;
    font-style: normal;
    line-height: 0%;
    font-size: 5rem;
}

.blog-post {
    font-weight: 200;
    font-style: normal;
    font-size: 1.8rem;
    display: inline;
}

.blog-post-title {
    font-size: 1.15rem;
    font-weight: 200;
    font-style: normal;
    display: inline;
}

.post {
    padding-left: 2%;
    display: inline-block;
}

.post-date {
    font-size: 0.75rem;
    font-style: italic;
    color: #636363;
    display: inline;
}

.content-div {
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.about {
    display: inline-block;
}

.last-updated {
    font-style: italic;
    color: #636363;
}

.links {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-align: right;
}

.inline-link {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: underline;
}

.links:hover {
    font-weight: 400;
    font-style: italic;
}

.bottom-right {
    text-align: right;
    right: 3%;
    bottom: 3%;
    position: absolute;
}

.footer {
    font-weight: 300;
    color: #636363;
    bottom: 3%;
    position: absolute;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 24;
}

.under-construction {
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
}

.marquee {
    background-color: white;
    color: #191919;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
